<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Signin</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <div class="container mt-4">
        <form action="/signin" method="post">
            <div class="mb-3">
              <label for="InputEmail" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
      
    <%- include("./partials/scripts") %>
</body>
</html>